<!DOCTYPE html>
<html>
    <head>
        <title>PongCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/button.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <style>
            .thumbnail {
                position: relative;
                padding: 0px;
                margin-bottom: 20px;
            }
            .btn-primary-outline {
                background-color: transparent;
                border-color: #ccc;
            }
            .navbar-nav>li>a {
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 9px;
            }
            .navbar-inverse .navbar-nav>li>a {
                color: white;
            }
            .navbar-inverse .navbar-nav>li>a:hover {
                color: grey;
            }
            .navbar-inverse .navbar-brand {
                color: white;
            }
            .navbar-inverse .navbar-brand:hover {
                color: gray;
            }
            #register {
                color: white;
            }
            #register:hover {
                color: #CC0000;
            }
            .nav-sign{
                font-size: 130%;
                font-weight: 300;
            }
            .navbar {
                webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"href="/"><i class="fa fa-fire" aria-hidden="true"></i> PongCamp</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/campgrounds" class="btn btn-lg btn-primary-outline">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a class="nav-sign" href="/login">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                    <li><a id="register" href="/register" class="btn btn-danger">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                <% } else{ %>
                    <li><a href="#" class="nav-sign">Signed in as <%= currentUser.username %></a></li>
                    <li><a href="/logout" class="nav-sign">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div id="alert-box">
    <% if(error && error.length >0){ %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %>
    <% if(success && success.length >0){ %>
    <div class="alert alert-success" role="alert"><%= success %></div>
    <% } %>
</div>
